<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>
<div class="container">
  <h2>Calculate Max K</h2>
  <form (ngSubmit)="calculateMaxK()">
    <input type="number" [(ngModel)]="x" name="x" placeholder="Enter X" required>
    <input type="number" [(ngModel)]="y" name="y" placeholder="Enter Y" required>
    <input type="number" [(ngModel)]="n" name="n" placeholder="Enter N" required>
    <button type="submit">Calculate</button>
  </form>
  <div *ngIf="result !== undefined">
    <p><strong> Result:</strong> {{ result }}</p>
  </div>
</div>